<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<head>
    <title>직원 리스트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="contents" layout:fragment="content">
    <table class="type11">
        <thead>
        <tr>
            <th scope="cols">이름</th>
            <th scope="cols">나이</th>
            <th scope="cols">연봉</th>
        </tr>
        </thead>
        <tbody id="contentBody">
            <tr th:each="employee : ${employeeList.data}">
                <td th:text="${employee.employee_name}"></td>
                <td th:text="${employee.employee_age}"></td>
                <td th:text="${employee.employee_salary}"></td>
            </tr>
        </tbody>
    </table>
</div>
</html>
